<footer class="bg-dark text-secondary mt-auto">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Все права на ККИ Берсерк принадлежат компании «Мир Хобби». Этот сайт не связан с «Миром Хобби».
    </div>
</footer>