<footer class="bg-dark text-secondary mt-auto">
    <div class="text-center p-3" style="background-image: linear-gradient(#545a5f,#343a40 60%,#31373c);">
        <div style="position: relative;">
            Все права на ККИ Берсерк принадлежат компании «Мир Хобби». Этот сайт не связан с «Миром Хобби».
            <span style="position: absolute; right: 0;">v 0.1.3</span>
        </div>
    </div>
</footer>