<nav class="navbar navbar-dark bg-dark py-0">
    <div class="container-xxl d-flex justify-content-left">
        <a class="navbar-brand me-lg-3 text-secondary" href="/" style="white-space: nowrap;">Берсерк: менеджер коллекции</a>
    </div>
</nav>