<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
    </system.web>
    <connectionStrings>
        <add name="Berserkcollection" connectionString="Data Source=DESKTOP-716L52A\SQLEXPRESS;Initial Catalog=Berserkcollection;Integrated Security=True;"
                providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>