<main class="text-white container-xxl align-items-center text-center">
    <form asp-controller="Account" asp-action="Register" method="post">
        <label>Логин</label>
        <input name="UserName">
        <label>Email</label>
        <input type="email" name="Email">
        <label>City</label>
        <input name="City">
        <label>Пароль</label>
        <input type="password" name="Password"></input>
        <input type="submit">Регистрация</input>
    </form>
</main>