body {
    font-size: 0.875rem;
    background-color: rgb(0,14,26) !important;
}

main {
    background-color: rgb(0,14,26) !important;
}

.form-label {
    font-size: 0.8rem;
}

img.card-img {
    border-radius: 10px;
    width: 165px;
    height: 233px;
}

img.icon-img {
    cursor: pointer;
}

img.gray {
    filter: grayscale(100%);
}

.minus {
    margin-right: 5px !important;
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.plus {
    margin-left: 5px !important;
    color: lawngreen;
    font-size: 20px;
    cursor: pointer;
}

.count {
    font-size: 20px;
}

.custom-sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 16px;
}

#filter > .col {
    padding-left: 24px;
}

#common,
#ordinary,
#not,
#small,
#\30legendsSet {
    margin-left: 50px !important;
}

.displayNonerare,
.displayNonecurrency,
.displayNoneelement,
.displayNoneavailability,
.displayNoneset {
    display: none;
}

.icon-img {
    height: 30px;
    width: 30px;
}

.login-container {
    width: 300px;
    max-width: 100%;
    margin: 50px auto;
}

    .login-container .btn-login {
        background-image: linear-gradient(#545a5f,#343a40 60%,#31373c);
        color: #fff;
        width: 100%;
    }

img {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона */
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 496px;
    height: 700px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modalImg {
    width: 496px;
    height: 700px;
    object-fit: contain;
    border-radius: 40px;
}