<main class="text-white container-xxl align-items-center text-center">
    <form asp-controller="Account" asp-action="Login" method="post">
        <label>Логин</label>
        <input name="UserName">
        <label>Пароль</label>
        <input type="password" name="Password">
        <input type="submit">
        <a asp-controller="Account" asp-action="Register">Регистрация</a>
    </form>
</main>